/* Header.css */

header {
  text-align: center;
}

.s-image {
  width: 40%; /* Adjust the size of the image */
  display: base;
  height: 36;
  padding: 0%;
  margin: 10 auto; /* Center the image */
}

h1 {
  margin-top: 20px; /* Adjust the space between the image and the title */
  font-size: 2em; /* Set the font size of the title */
}

p {
  margin-bottom: 20px; /* Adjust the space between the title and the paragraph */
}



nav {
  margin-top: 10px; /* Adjust the space between the paragraph and the navigation */
}

a {
  text-decoration: none;
  color: #4CAF50; /* Set the text color */
  font-weight: bold;
}

a:hover {
  color: #333; /* Change the color on hover */
}
